#login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    min-height: 100dvh;
    padding: 20px;

    background-color: var(--background-cian);
    color: var(--color-dark-blue);

}

#login-form{
    padding: 40px;
    gap: 10px;
    border-radius: 52px;
    margin: 64px;
    background-color: var(--background-light-blue);

    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-form input, button{
    width: 535px;
    height: 64px;

    padding-left: 10px;
    border-radius: 12px;
}
#login-form input::placeholder{
    color: #0A394C;
    opacity: 50%;
}

#login-form button{
    width: 250px;
}

#login-logo{
    font-size: 42px;
    margin: 0px;
}

#register-link{
    font-size: 24px;
    margin: 0px;
    color: var(--color-dark-blue);
    opacity: 50%;
}

#register-link:hover{
    opacity: 100%;
    cursor: pointer;
    text-decoration: underline;
}

@media (max-width: 600px) {
    #login-form {
        padding: 30px;
        border-radius: 42px;
    }

    #login-form input{
        width: 70dvw;
        font-size: 0.9rem;
    }

    #login-form button{
        width: 40dvw;
        font-size: 0.9rem;
    }

    #login h2 {
        font-size: 1.2rem;
    }
}