#register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100dvh;
    background-color: var(--background-cian);
    color: var(--color-dark-blue);
    padding: 20px;
    box-sizing: border-box;
}

#register-form{
    padding: 40px;
    gap: 10px;
    border-radius: 52px;
    margin: 64px;
    background-color: var(--background-light-blue);

    display: flex;
    flex-direction: column;
    align-items: center;
}

#register-form input, button{
    width: 535px;
    height: 64px;

    padding-left: 10px;
    border-radius: 12px;
}

#register-form button{
    width: 250px;
}

#register-logo{
    font-size: 42px;
    margin: 0px;
}

#login-link{
    font-size: 24px;
    margin: 0px;
    color: var(--color-dark-blue);
    opacity: 50%;
}

#login-link:hover{
    opacity: 100%;
    cursor: pointer;
    text-decoration: underline;
}

@media (max-width: 600px) {
    #register-form {
        padding: 15px;
    }

    #register-form input,
    #register-form button {
        font-size: 0.9rem;
    }

    #register h2 {
        font-size: 1.2rem;
    }
}