<div id="create-chat-modal" class="modal-wrapper" onclick="clickOutOfModal()">
    <div id="chat-modal-card" class="modal-card">
        <div id="create-chat" class="modal-card modal-card-section">
            <h4>create a chat and invite friends!</h4>

            <input type="text" id="create-chat-input" placeholder="Chat Name...">
            
            <div id="create-chat-bt" class="div-bt CTA" tabindex="0" onclick="createChat()">Create!</div>
            
            <h4 id="output-create-chat"></h4>
        </div>

        <div id="join-chat" class="modal-card modal-card-section">
            <h4>ask your friends for a chat-code!</h4>
            
            <input type="text" id="join-chat-input" placeholder="Chat Code...">

            <div id="join-chat-bt" class="div-bt CTA" tabindex="0" onclick="joinChat()">Join!</div>
            
            <h4 id="output-join-chat"></h4>
        </div>
    </div>
</div>