:root{
    /* animations */

        --transfomr-time: 0.2s;

    /* box-shadows */

        --shadow-light:  0px 4px 10px rgba(0, 0, 0, 0.1);
        --shadow-medium:  0px 4px 10px rgba(0, 0, 0, 0.2);
        --shadow-bold:  0px 4px 10px rgba(0, 0, 0, 0.3);
        
    /* FONTS */
        --font-primary: 'Inter', sans-serif;
        --font-secondary: 'DM Sans', sans-serif;

        --weight-normal: 400;
        --weight-medium: 500;
        --weight-semibold: 600;
        --weight-bold: 700;

        --text-xs: 12px;
        --text-sm: 14px;
        --text-base: 16px;
        --text-lg: 18px;

    /* COLOR TEXTS */

        --color-text-primary: #111827;   /* Gray 900 */
        --color-text-secondary: #6B7280; /* Gray 500 */
        --color-text-tertiary: #9CA3AF;  /* Gray 400 */
        
    /* BORDERS */

        --border-hover-color:#9CA3AF;
        --border-radius: 12px;

        --border-radius-circle: 24px;

    --sidebar-background: #1F2421;
    --sidebar-hilight-50:#2168696e;
    --sidebar-hilight: #216869;
    --sidebar-search-bg:#353b38;

    --chat-background: #DCE1DE;
    --chat-message-bg-others:#49A078;
    --chat-message-bg-mine:#9CC5A1;

    --messages-text-color: #DCE1DE;
    --secondary-texts-color:#9b9b9b;

    --messages-coming-bg-colo: #6a994e;
    --messages-sending-bg-colo: #a7c957;

    --text-primary-font-size: 1.5rem;

    --keyboard-border-color: #cad0cc9c;

    --sidebar-settings-list-bg: #c0c0c0;
}
* {
    box-sizing: border-box;
    
}

body{
    margin: 0px;
    height: 100dvh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex: 1;

    overflow: hidden;
    user-select: none;
}

@media (max-width: 768px) {
    #app {
        flex-direction: column;
        width: 100vw;
        
    }

}

.CTA{
    padding: 10px 20px;
    border-radius: 12px;

    aspect-ratio: 1/1;
}