:root{
    /* animations */

        --transfomr-time: 0.2s;

    /* box-shadows */

        --shadow-buttons: 0px 10px 20px 0px rgba(10, 57, 76, 0.59);
    /* FONTS */
        --font-primary: 'Inter', sans-serif;
        --font-secondary: 'DM Sans', sans-serif;

        --weight-normal: 400;
        --weight-medium: 500;
        --weight-semibold: 600;
        --weight-bold: 700;

        --text-xs: 12px;
        --text-sm: 14px;
        --text-base: 16px;
        --text-lg: 18px;

    /* COLOR TEXTS */

        --color-text-primary: #111827;   /* Gray 900 */
        --color-text-secondary: #6B7280; /* Gray 500 */
        --color-text-tertiary: #9CA3AF;  /* Gray 400 */
        
    /* BORDERS */

        --border-hover-color:#9CA3AF;
        --border-radius: 12px;

        --border-radius-circle: 24px;


    /* COLORS */

        --background-cian: #D9F5F0;
        --background-light-blue: #2AAAAB;
        --color-dark-blue: #0A394C;

        --cta-bg: #00C645;
        --cta-color: #D9F5F0;

    /* MESSAGES */
        --bg-message-coming: #4F772D;
        --bg-message-sending: #90A955;
    }
* {
    box-sizing: border-box;
    
}

body{
    margin: 0px;
    height: 100dvh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex: 1;

    overflow: hidden;
    user-select: none;
}

.CTA{
    background-color: var(--cta-bg);
    color: var(--cta-color);

    border-radius: 12px;
    font-size: 30px;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: all ease 0.2s;
}

.CTA:hover{
    background-color: var(--cta-color);
    color: var(--cta-bg);
}

input{
    all: unset;
    padding: 0px 4px;
    background-color: var(--background-cian);
}

@media (max-width: 768px) {
    #app {
        flex-direction: column;
        width: 100dvw;
        
    }

}