div#main{
    background-image: url('../../assets/no-chat.svg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;

}

.main-wrapper{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    max-height: 100%;
    max-width: 100%;
    /* padding-top: 10vh; */
    /* padding-bottom: vh; */

    background-image: url('../../assets/bg.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-position: center;

    background-attachment: scroll;

    
}

.main-header {
    background-color: var(--messages-text-color);
    height: 10vh;
    width: 100%;
    
    padding: 12px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);

    /* position: fixed; */
    z-index: 1000;
    top: 0px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-header-profile{
    height: 100%;
    
    display: flex;
    align-items: center;
}

.main-header-exit-bt{
    aspect-ratio: 1/1;
    border-radius: 50px;
    height: 80%;

    background-color: var(--chat-background);
    border: solid 1px var(--keyboard-border-color);

    background-image: url(../../assets/close.png);
    
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;

    transition: all 0.2s ease-in-out;
}

.main-header-exit-bt:hover{

    height: 90%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.299);
}
.main-header-profile-image {
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-color: red; */
    margin: 12px;
}

.status-color {
    height: 12px;
    aspect-ratio: 1/1;
    align-items: center;
    border-radius: 50%;
    background-color: gray;
    border: 1px solid gray;
}

.status-text {
    color: var(--secondary-texts-color);
    margin: 0px;
}

.main-header-chat-status {
    display: flex;
    align-items: center;
}

.main-chat {
    /* background-color: red; */
    flex: 1;
    
    overflow-y: scroll;
    gap: 12px;

    padding-top: 2vh;
    padding-bottom: 2vh;

    display: flex;
    /* flex-direction: column-reverse; */
    flex-direction: column;
    scrollbar-width: none;
    
}
