/* ------------------- Layout Principale ------------------- */

div#main {
    background-image: url('../../assets/no-chat.svg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 100dvh;
    max-height: 100%;
    max-width: 100%;

    flex: 1;

    /* background-image: url('../../assets/bg.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-attachment: scroll; */
    background: rgba(217, 245, 240, 0.05);
    background: linear-gradient(145deg,rgba(217, 245, 240, 0.5) 41%, rgba(42, 170, 171, 0.5) 100%);
}

/* ------------------- Header ------------------- */

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100px;
    width: 100%;
    padding: 12px;
    background-color: var(--background-light-blue);
    box-shadow: var(--shadow-buttons);
    
    z-index: 1000;
    top: 0px;
}

.main-header-content {
    position: relative;
    display: inline-block;
    min-width: 10dvw;
    z-index: 20;

    border-radius: 16px;
    cursor: pointer;
    background-color: var(--background-cian);
    
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.232); */

    transition: all 0.3s ease 0.2s;
}

.main-header-content h1 {
    margin: 12px;
}

.main-header-content:focus-within {
    cursor: default;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-bottom: 4px;
    transition-delay: 0s;
}

.main-header-content:focus-within .users-list-wrapper {
    max-height: 20vh;
    cursor: default;
    opacity: 1;
    pointer-events: auto;
    overflow-y: auto;

    transform: translateY(0px);
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

/* ------------------- User List Dropdown ------------------- */

.users-list-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;

    padding: 0px 8px;
    height: auto;
    max-height: 0;
    overflow: hidden;

    opacity: 0;
    pointer-events: none;
    background-color: var(--background-cian);

    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    
    box-shadow: var(--shadow-buttons);

    scrollbar-width: none;
    transform: translateY(-10px);
    transition: transform 0.3s ease, max-height 0.3s ease, opacity 0.3s ease 0.2s;
}

.users-list-ul {
    max-width: 100%;
    padding: 0px;
}

.users-list-ul li {
    width: 100%;
    padding: 4px 0px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    transform: translateY(10px);
    transition: opacity 0.2s ease, transform 0.2s ease;
}

/* ------------------- Chat Code ------------------- */

.chat-code-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;

    width: 100%;
    cursor: pointer;

    border: solid 1px var(--color-dark-blue);
    border-radius: 12px;
    box-shadow: 0px 5px 10px 0px rgba(10, 57, 76, 0.203);

    transform: translateY(0);
    transition: opacity 0.2s ease, transform 0.2s ease, border 0.2s ease;
}

.chat-code-wrapper:hover {
    border: solid 1px var(--border-hover-color);
    
}

.chat-code-wrapper h6 {
    margin: 0px;
    max-width: 100%;

    font-weight: var(--weight-bold);
    font-size: 12px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ------------------- Profilo Header ------------------- */

.main-header-profile {
    display: flex;
    align-items: center;
    height: 100%;
}

.main-header-profile-image {
    height: 100%;
    aspect-ratio: 1 / 1;
    margin: 12px;

    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* ------------------- Bottone Esci ------------------- */

.main-header-exit-bt {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin-left: 5px;

    box-shadow: var(--shadow-buttons);
    background-color: var(--background-cian);

    background-image: url(../../assets/close.png);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;

    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.299); */
    transition: all 0.2s ease-in-out;
}

.main-header-exit-bt:hover {
    height: 65px;
    width: 65px;
    margin-left: 0px;

    
}

/* ------------------- Stato Utente ------------------- */

.main-header-chat-status {
    display: flex;
    align-items: center;
}

.status-color {
    height: 12px;
    aspect-ratio: 1/1;

    align-items: center;
    border-radius: 50%;
    background-color: gray;
    border: 1px solid gray;
}

.status-text {
    color: var(--secondary-texts-color);
    margin: 0px;
}

/* ------------------- Area Chat ------------------- */

.main-chat {
    flex: 1;
    display: flex;
    flex-direction: column;

    gap: 12px;
    overflow-y: scroll;
    scrollbar-width: none;

    padding-top: 2vh;
    padding-bottom: 2vh;
}

/* ------------------- Responsive ------------------- */

@media (max-width: 768px) {
    .main-header-content h1 {
        margin: 8px;
    }
}