div#sidebar{
    background-color: var(--sidebar-background);
    width: 30vw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    
    min-width: 300px;
    max-width: 600px;
    overflow: auto;
    resize: horizontal;

    scrollbar-width: none;
}

div#sidebar-content-search{
    height: 10dvh;
    display: flex;
    justify-content:space-between;
    align-items: center;
    
    gap: 12px;
    padding: 0 12px;
}

.sidebar-search{
    height: 4dvh;
    width: 100%;
    border-radius: 8px;
    background-color: var(--sidebar-search-bg);
    color: var(--messages-text-color);

}

div#sidebar-content-chats{
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    
}

#main {
    /* background-color: red; */
    height: 100dvh;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--sidebar-background);
}

#sidebar-user-settings{
    height: 80%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;

    background-color: red;

    transition: all 0.2s ease-in-out;
    
    background-image: url('../../assets/user-placeholder.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#sidebar-user-settings:hover{
    height: 90%;
    cursor: pointer;
}
#sidebar-user-settings:focus{
    height: 90%;
    /* cursor: pointer; */
}

#user-settings-list {
    top: 10vh;
    padding: 12px;
    opacity: 0;
    border-radius: 12px;
    z-index: 1000;

    background-color: var(--sidebar-settings-list-bg);
    border: 1px solid var(--messages-text-color);

    position: absolute;
    visibility: hidden;
    transform: translateY(-5px);

    transition: all 0.2s ease;
}

#sidebar-user-settings:focus-within #user-settings-list {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

#user-settings-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#user-settings-list li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: var(--sidebar-search-bg);
    border-radius: 24px;
    transition: all 0.2s ease-in-out;
}

#user-settings-list li a:hover {
    background-color: var(--sidebar-search-bg);
    color: var(--sidebar-settings-list-bg);
}

#sidebar-chats-end-wrapper{
    width: 100%;


    border-top: 1px solid var(--secondary-texts-color);

    display: flex;
    justify-content: center;

    
}
#sidebar-chats-end-text{
    padding: 12px;
    color: var(--secondary-texts-color);
}

#sidebar-chats-create-chat{
    height: 50px;
    width: 50px;
    border-radius: 25px;

    position: fixed;
    justify-self: right;

}

@media (max-width: 768px) {
    div#sidebar{
        width: 100vw;
        padding: 0px;

        min-width: 300px;
        max-width: none;
        overflow: auto;
    }

    div#main{
        width: 100vw;
        padding: 0px;
        z-index: 1000;
    }
}