<div class="chat" tabindex="0" chatid="">
    <div class="chat-main-content">
        <div class="chat-image"></div>
        <div class="chat-text">
            <h1 class="chat-name">Name</h1>
            <div class="chat-status">
                <h4 class="last-message"></h4>
            </div>
        </div>
    </div>

    <div class="menu-icon" tabindex="0">
        <span></span>
        <span></span>
        <span></span>
        
        <div class="chat-option-list">
            <h3 tabindex="0"" class="chat-option-list-exit">exit❌</h3>
            <!-- <h3 onclick="">update🔄</h3> -->
            
        </div>
    </div>
</div>