.chat {
    padding: 12px;
    height: 8vh;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    border-radius: 16px;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}

.chat:hover {
    background-color: var(--sidebar-hilight-50);
}

.chat:focus {
    background-color: var(--sidebar-hilight);
}

.chat-image {
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-image: url(../../images/image1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.chat-content {
    color: var(--messages-text-colo);
}

.chat-status {
    display: flex;
    align-items: center;
}

.status-color {
    height: 12px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: gray;
    border: 1px solid gray;
}

.status-text {
    color: var(--secondary-texts-color);
    margin: 0px;
}

.chat-name {
    font-size: clamp(1rem, 1.5rem, 2rem);
    margin: 0px;
}